* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #262626;
  font-family: 'Kodchasan', sans-serif;
}
body {
  height: 100vh;
}
canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  z-index: -1;
  height: 100%;
}
.title--main {
  color: #ffffff;
  position: absolute;
  z-index: 2;
  top: 42%;
  right: 0;
  margin: 0  auto;
  margin-right: 27%;
  margin-left: 27%;
}
.title--main h1 {
  letter-spacing: 7px;
  font-size: 2.5vw;
  padding-bottom: 20px;
  text-align: center;
}
.title--main p {
  padding-bottom: 15px;
  font-size: 14px;
  text-align: justify;
}
.buttons--main {
  text-align: center;
}
.btn:link,
.btn:visited{
  margin: 30px;
  display: inline-block;
  padding: 10px 40px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #e67e22;
  ;
}
.btn-full:link,
.btn-full:visited {
  color: #e67e22;
  -webkit-transition: background-color 0.5s, border-color 0.5s;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.btn-ghost:link,
.btn-ghost:visited {
  color: #e67e22;
  -webkit-transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.btn-full:hover{
  background-color: #cf6d17;
  color: #fff;
  border-color: #cf6d17;

}
.btn-ghost:hover {
  background-color: #cf6d17;
  color: #fff;
  border-color: #cf6d17;
}
#modal--2 {
  position: absolute;
  width:20%;
  display: none ;
  height: 25%;
  z-index: 4;
  top: 25%;
  left: 40%;
}
#modal--1 {
  position: absolute;
  width:20%;
  display: none ;
  height: 25%;
  z-index: 4;
  top: 33%;
  left: 40%;
}
form {
  text-align: center;
  background-color: rgba(38, 38, 38, 0.98);
  position: relative;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}
label .label-text {
  color: #9B9B9B;
  cursor: text;
  font-size: 1vw;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}
label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: white;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 50%;
}
label input:focus {
  max-width: 100%;
  width: 70%;
}
label input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

button {
  background-color: rgba(38, 38, 38, 0.77);
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 1vw;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
  margin-bottom: 50px;
}
button:hover, button:focus {
  background-color: white;
  color: rgba(38, 38, 38, 0.77);
  outline: 0;
}
